{% extends 'two-column' %}

{% block main %}
    <h1 class="u-textCenter">{{ tag.tagName }}</h1>
    {{ tag.description }}

    {% if tag.posts %}
        {% for post in tag.posts %}
            {% include 'blog/post-list-item-simple' %}
        {% endfor %}
        {% include 'snippets/pagination' %}
    {% endif %}
{% endblock %}

{% block sidebar %}
    <div class="Sidebar">
        {% if _core.theme.settings.blogSlidebarItems %}
            {% for item in _core.theme.settings.blogSlidebarItems %}
                {% switch item %}
                    {% case "category-filter" %}
                        {{ _api.blog.categoryFilter.template('api-category-filter') }}
                    {% case "tag-filter" %}
                        {{ _api.blog.postArchive.template('api-tag-filter') }}
                    {% case "recent-posts" %}
                        {{ _api.blog.recentPosts.template('api-recent-posts').limit(_core.theme.settings.blogSidebarRecentPostsNumber) }}
                    {% case "recent-comments" %}
                        {{ _api.blog.recentComments.template('api-recent-comments') }}
                    {% case "post-archive" %}
                        {{ _api.blog.postArchive.template('api-post-archive') }}
                {% endswitch %}
            {% endfor %}
        {% else %}
            {{ _api.blog.categoryFilter.template('api-category-filter') }}
            {{ _api.blog.postArchive.template('api-tag-filter') }}
            {{ _api.blog.recentPosts.template('api-recent-posts').limit(_core.theme.settings.blogSidebarRecentPostsNumber) }}
            {{ _api.blog.recentComments.template('api-recent-comments') }}
            {{ _api.blog.postArchive.template('api-post-archive') }}
        {% endif %}
    </div>
{% endblock %}
