
{% extends 'two-column' %}

{# This variable tells the two column template to swap the column positions #}
{% set altCol = true %}

{% block main %}
    {% for tag in tags %}
        <div class="BlogList-item u-margBottom5">
            <h2 class="BlogList-heading"><a href="{{ tag.url }}" class="u-linkSubtle">{{ tag.tagName }}</a></h2>
            {{ tag.postCount ~ " post" ~ (tag.postCount > 1 ? "s") }}
            <p>{{ tag.description }}</p>
        </div>
    {% endfor %}
{% endblock %}

{% block sidebar %}
   <div class="Sidebar">
        {% if _core.theme.settings.blogSlidebarItems %}
            {% for item in _core.theme.settings.blogSlidebarItems %}
                {% switch item %}
                    {% case "category-filter" %}
                        {{ _api.blog.categoryFilter.template('api-category-filter') }}
                    {% case "tag-filter" %}
                        {{ _api.blog.postArchive.template('api-tag-filter') }}
                    {% case "recent-posts" %}
                        {{ _api.blog.recentPosts.template('api-recent-posts').limit(_core.theme.settings.blogSidebarRecentPostsNumber) }}
                    {% case "recent-comments" %}
                        {{ _api.blog.recentComments.template('api-recent-comments') }}
                    {% case "post-archive" %}
                        {{ _api.blog.postArchive.template('api-post-archive') }}
                {% endswitch %}
            {% endfor %}
        {% else %}
            {{ _api.blog.categoryFilter.template('api-category-filter') }}
            {{ _api.blog.postArchive.template('api-tag-filter') }}
            {{ _api.blog.recentPosts.template('api-recent-posts').limit(_core.theme.settings.blogSidebarRecentPostsNumber) }}
            {{ _api.blog.recentComments.template('api-recent-comments') }}
            {{ _api.blog.postArchive.template('api-post-archive') }}
        {% endif %}
    </div>
{% endblock %}
