
{% extends 'two-column.twig' %}

{% import 'macros/macros' as macros %}

{% block main %}
    <div class="u-fontSizeH3 u-textCenter">
        {% if previousDateUrl %}
            <a href="{{ previousDateUrl }}" class="u-linkSubtle" title="Go to the previous date range">{{ macros.iconImg('caret-left', 'Go to the previous month', 'CalendarGrid-headingIcon') }}</a> 
        {% endif %}
        <span class="u-gutters1">{{ startDate }}{% if dateRangeKey != 'day' %} - {{ endDate }}{% endif %}</span>
        {% if nextDateUrl %}
            <a href="{{ nextDateUrl }}" class="u-linkSubtle" title="Go to the next date range">{{ macros.iconImg('caret-right', 'Go to the next month', 'CalendarGrid-headingIcon') }}</a>
        {% endif %}
    </div>
    <div class="u-hidden u-md-show">
        <h3>Change Date</h2>
        <form action="{{ dateNavigation.form.action }}" method="{{ dateNavigation.form.method }}">
            {{ dateNavigation.form.fields.month.tag }}
            {{ dateNavigation.form.fields.year.tag }}
            {{ dateNavigation.form.fields.view.tag }}
            <button type="submit" class="Button Button--sm">Go</button>
        </form>
    </div>
    {% if eventCount > 0 %}

        {% if agenda.days %}
            {% set days = agenda.days %}
        {% elseif category.agenda.days %}
            {% set days = category.agenda.days %}
        {% elseif tag.agenda.days %}
            {% set days = tag.agenda.days %}
        {% endif %}

        {% for day in days %}
            <h2 class="u-fontSizeH3">{{ day.dateTimestamp|date(' F j - l') }}</h2>
            {% for event in day.events %}
                <div class="u-margBottom3">
                    <div class="u-fontSizeH5"><a href="{{ event.url }}">{{ event.title }}</a></div>
                    {% if event.isMultiDay %}
                        <div class="Arrange">
                            <div class="Arrange-sizeFit"><div class="CalendarAgenda-icon">{{ macros.iconImg('calendar', 'Date', 'CalendarGrid-headingIcon') }}</div></div>
                            <div class="Arrange-sizeFill">{{ event.startDate }} to {{ event.endDate }}</div>
                        </div>
                    {% endif %}
                    {% if event.time.type != 'notime' %}
                        <div class="Arrange">
                            <div class="Arrange-sizeFit"><div class="CalendarAgenda-icon">{{ macros.iconImg('clock', 'Time', 'CalendarGrid-headingIcon') }}</div></div>
                            <div class="Arrange-sizeFill">
                                {% if event.time.type == 'timed' %}
                                    {{ event.time.start }} to {{ event.time.end }}
                                {% elseif event.time.type == 'start' %}
                                    {{ event.time.start }}
                                {% elseif event.time.type == 'allday' %}
                                    All Day
                                {% elseif event.time.type == 'tba' %}
                                    TBA
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    {% if event.location %}
                        <div class="Arrange">
                            <div class="Arrange-sizeFit"><div class="CalendarAgenda-icon">{{ macros.iconImg('map-marker', 'Location', 'CalendarGrid-headingIcon') }}</div></div>
                            <div class="Arrange-sizeFill">{{ event.location }}</div>
                        </div>
                    {% endif %}
                    {% if event.phone %}
                        <div class="Arrange">
                            <div class="Arrange-sizeFit"><div class="CalendarAgenda-icon">{{ macros.iconImg('phone', 'Phone number', 'CalendarGrid-headingIcon') }}</div></div>
                            <div class="Arrange-sizeFill">Call <a href="tel:{{ event.phone }}">{{ event.phone }}</a> for more information</div>
                        </div>
                    {% endif %}
                    {% if event.shortDescription %}
                        <div class="u-margTop1">{{ event.shortDescription }}</div>
                    {% endif %}
                </div>
            {% endfor %}
    {% endfor %}
    {% else %}
        <div class="u-textCenter u-margTop2">{{ noEventsMessage }}</div>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {{ include('calendar/sidebar.twig') }}
{% endblock %}
