
{% extends 'one-column.twig' %}

{% import 'macros/macros' as macros %}

{% block main %}
    <h1>{{ event.title }}</h1>
    <div class="Arrange">
        <div class="Arrange-sizeFit"><div class="CalendarAgenda-icon">{{ macros.iconImg('calendar', 'Date', 'CalendarGrid-headingIcon') }}</div></div>
        <div class="Arrange-sizeFill">{{ event.date }}</div>
    </div>
    {% if event.time.type != 'notime' %}
        <div class="Arrange">
            <div class="Arrange-sizeFit"><div class="CalendarAgenda-icon">{{ macros.iconImg('clock', 'Time', 'CalendarGrid-headingIcon') }}</div></div>
            <div class="Arrange-sizeFill">
                {% if event.time.type == 'timed' %}
                    {{ event.time.start }} to {{ event.time.end }}
                {% elseif event.time.type == 'start' %}
                    {{ event.time.start }}
                {% elseif event.time.type == 'allday' %}
                    All Day
                {% elseif event.time.type == 'tba' %}
                    TBA
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% if event.location %}
        <div class="Arrange">
            <div class="Arrange-sizeFit"><div class="CalendarAgenda-icon">{{ macros.iconImg('map-marker', 'Location', 'CalendarGrid-headingIcon') }}</div></div>
            <div class="Arrange-sizeFill">{{ event.location }}</div>
        </div>
    {% endif %}
    {% if event.phone %}
        <div class="Arrange">
            <div class="Arrange-sizeFit"><div class="CalendarAgenda-icon">{{ macros.iconImg('phone', 'Phone number', 'CalendarGrid-headingIcon') }}</div></div>
            <div class="Arrange-sizeFill">Call <a href="tel:{{ event.phone }}">{{ event.phone }}</a> for more information</div>
        </div>
    {% endif %}


    <div class="u-margTop2">{{ event.description }}</div>

    {% if event.facebookEventLink %}
        <p><a href="{{ event.facebookEventLink|url }}" target="blank">Add to your Facebook Events Calendar</a></p>
    {% endif %}

    {% if event.images %}
        <div class="Slider js-slider">
            {% for image in event.images %}
                {% if image.image.large %}
                    <div class="Slider-slide">
                        
                        <a href="{{ image.image.large.src }}" class="js-lighbox">{{ image.image.small.tag }}</a>
                        {% if image.caption %}
                            <div class="Slider-caption"><div class="Slider-captionText">{{ image.caption }}</div></div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <div class="u-margTop2"><a href="{{ goBackUrl }}"><span class="fa fa-chevron-left"></span> Back to Events List</a></div>

    {% if event.editUrl %}
        <p class="u-margTop4 u-textRight"><a href="{{ event.editUrl }}">Edit this event</a></p>
    {% endif %}
{% endblock %}
