
{% extends 'one-column.twig' %}

{% import 'macros/macros' as macros %}

{% block main %}
    <div class="u-gutters2 u-md-gutters1">
        <div class="u-flex u-flexJustifyBetween u-md-flexColReverse">
            <div class="CalendarGrid-heading js-calendarHeading">
                {% if category %}
                    <h1>{{ category.categoryName }}</h1>
                {% elseif tag %}
                    <h1>{{ tag.tagName }}</h1>
                {% else %}
                    {% if grid.previousDateUrl %}
                        <a href="{{ grid.previousDateUrl }}" class="CalendarGrid-navPrev js-calendarFeedPrev" title="Go to the previous month">{{ macros.iconImg('caret-left', 'Go to the previous month', 'CalendarGrid-headingIcon') }}</a>
                    {% endif %}
                    {{ grid.month }}
                    {{ grid.year }}
                    {% if grid.nextDateUrl %}
                        <a href="{{ grid.nextDateUrl }}" class="CalendarGrid-navNext js-calendarFeedNext" title="Go to the next month">{{ macros.iconImg('caret-right', 'Go to the next month', 'CalendarGrid-headingIcon') }}</a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="Box u-margBottom4 u-md-margBottom1 u-md-flex u-md-flexJustifyCenter u-md-flexAlignItemsCenter">
                <div class="Box-heading u-md-padRight1">{{ macros.iconImg('calendar', 'Change date', 'CalendarMiniGrid-headingIcon') }} Change Date</div>
                <div class="Box-inner">
                    <form action="{{ dateNavigation.form.action }}" method="{{ dateNavigation.form.method }}">
                        {{ dateNavigation.form.fields.month.tag }}
                        {{ dateNavigation.form.fields.year.tag }}
                        {{ dateNavigation.form.fields.view.tag }}
                        <button type="submit" class="Button Button--sm">Go</button>
                    </form>
                </div>
            </div>
        </div>
        <table class="CalendarGrid u-margBottom4">
            <thead class="CalendarGrid-head">
            <tr>
                <th class="CalendarGrid-headCell"><span class="CalendarGrid-headCellContent">S</span></th>
                <th class="CalendarGrid-headCell"><span class="CalendarGrid-headCellContent">M</span></th>
                <th class="CalendarGrid-headCell"><span class="CalendarGrid-headCellContent">T</span></th>
                <th class="CalendarGrid-headCell"><span class="CalendarGrid-headCellContent">W</span></th>
                <th class="CalendarGrid-headCell"><span class="CalendarGrid-headCellContent">T</span></th>
                <th class="CalendarGrid-headCell"><span class="CalendarGrid-headCellContent">F</span></th>
                <th class="CalendarGrid-headCell"><span class="CalendarGrid-headCellContent">S</span></th>
            </tr>
            </thead>
            <tbody class="CalendarGrid-body">
            
            {% if grid.rows %}
                {% set rows = grid.rows %}
            {% elseif category.grid.rows %}
                {% set rows = category.grid.rows %}
            {% elseif tag.grid.rows %}
                {% set rows = tag.grid.rows %}
            {% endif %}

            {% for row in rows %}
                <tr>
                    {% for box in row.boxes %}
                        {% set class = 'CalendarGrid-cell' %}
                        {% if box.isWeekend == true and box.isThisMonth == true %}
                            {% set class = class ~ ' ' ~ 'CalendarGrid-cell--isEnd' %}
                        {% endif %}
                        {% if box.isToday %}
                            {% set class = class ~ ' ' ~ 'CalendarGrid-cell--isToday' %}
                        {% endif %}
                        {% if box.isThisMonth == false %}
                            {% set class = class ~ ' ' ~ 'CalendarGrid-cell--isEmpty' %}
                        {% endif %}
                        {% if box.eventCount == 0 %}
                            {% set class = class ~ ' ' ~ 'js-calendarFeedNoEvents' %}
                        {% endif %}
                        <td class="{{ class|trim }}">
                            {% if box.isThisMonth %}
                                <div class="CalenderGrid-cellDate">{{ box.dayShort }}</div>
                                {% if box.eventCount > 0 %}
                                    {% for event in box.events %}
                                        <a href="{{ event.url }}" class="u-linkSubtle">{{ event.title }}<br>
                                            {% if event.time.type == 'timed' %}
                                                {{ event.time.start }} to {{ event.time.end }}
                                            {% elseif event.time.type == 'start' %}
                                                {{ event.time.start }}
                                            {% elseif event.time.type == 'allday' %}
                                                All Day
                                            {% elseif event.time.type == 'tba' %}
                                                TBA
                                            {% endif %}
                                            {% if event.location %}
                                                <span class="u-block">{{ event.location }}</span>
                                            {% endif %}
                                        </a>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}