{% set id = "js-iframe--" ~ random_string() %}
<div class="FlexEmbed u-margBottom2 {{ id }}">
    <div class="FlexEmbed-ratio FlexEmbed-ratio--{{ embedRatio }}"></div>
    {% inlinejs %}
        loadjs.ready('main', {
            success: function() {
                const element = document.querySelector(".{{ id }}");
                loadIframeOnObserve(element, "{{ iframeTag.src }}", "{{ title ?: "Embedded iframe" }}", "FlexEmbed-content");
            }
        });
    {% endinlinejs %}
</div>
