
{% set events = _api.calendar.events.limit(numberOfEvents) %}

<h2 class="Cards-title">{{ title }}</h2>

<div class="Grid Grid--equalHeight Grid--withGutter u-flexJustifyCenter">
    {% for event in events %}
        <div class="Grid-cell u-margBottom4 u-md-sizeFull {% if eventsPerRow != '1' %}u-size1of{{ eventsPerRow }}{% else %}u-sizeFull{% endif %}">
            <div class="Card">
                <div class="Card-inner">
                    {# {% if event.categories is iterable %}
                        <div class="Card-category">{{ event.categories|first.categoryName }}</div>
                    {% endif %} #}
                    <div class="Card-title Card-title--left">{{ event.title }}</div>
                    <div class="Card-date">{{ event.publishedOnDate }}</div>
                    {% if event.description %}
                        <div class="Card-abstract">
                            {{ event.description|striptags|truncate(250) }}
                        </div>
                    {% endif %}
                    <div class="Card-buttonContainer">
                        <a href="{{ event.url }}" class="Card-button">Read More &raquo;</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
